---
const peliculas = [
  {
    titulo: "Indiana Jones",
    genero: "Aventura",
    imagen: "/imagenes/IndianaJones.jpg"
  },
  {
    titulo: "Jurassic Park",
    genero: "Aventura",
    imagen: "/imagenes/JurassicPark.jpg"
  },
    {
      titulo: "Titanic",
      genero: "Romance",
      imagen: "/imagenes/titanic.jpg"
    },
    {
      titulo: "Diario de una Pasión",
      genero: "Romance",
      imagen: "/imagenes/Diario.jpg"
    },
  {
    titulo: "Mad Max: Fury Road",
    genero: "Acción",
    imagen: "/imagenes/MadMax.jpg"
  },
  {
    titulo: "John Wick",
    genero: "Acción",
    imagen: "/imagenes/JohnWick.jpg"
  },
  {
    titulo: "The Mask",
    genero: "Comedia",
    imagen: "/imagenes/Mask.jpg"
  },
  {
    titulo: "Son como niños",
    genero: "Comedia",
    imagen: "/imagenes/soncomoniños.jpg"
  },
  {
    titulo: "El conjuro",
    genero: "Terror",
    imagen: "/imagenes/conjuro.jpg"
  },
  {
    titulo: "IT",
    genero: "Terror",
    imagen: "/imagenes/IT.jpg"
  },
  {
    titulo: "Narnia",
    genero: "Fantasia",
    imagen: "/imagenes/narnia.jpg"
  },
  {
    titulo: "Harry Potter",
    genero: "Fantasia",
    imagen: "/imagenes/harrypotter.jpg"
  },
];
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Catálogo de películas</title>
    <link rel="stylesheet" href="/src/styles/global.css">
  </head>

  <body>

    <!-- HEADER -->
    <header>
      <h1> Catálogo de películas</h1>
    </header>

    <main>

      <!-- SECCIÓN 1: BUSCADOR -->
      <section>
        
        <input type="text" id="buscador" placeholder="Buscar..." />
      </section>

      <!-- SECCIÓN 2: CATÁLOGO -->
      <section>
        <h2>Catálogo</h2>

        <div id="catalogo">
          {peliculas.map(peli => (
            <article class="card">
              <img src={peli.imagen} alt={peli.titulo} />
              <h3>{peli.titulo}</h3>
              <p>{peli.genero}</p>
            </article>
          ))}
        </div>


    </main>

    <!-- JAVASCRIPT -->
    <script>
      const buscador = document.getElementById("buscador");
      const cards = document.querySelectorAll(".card");

      buscador.addEventListener("input", () => {
        const texto = buscador.value.toLowerCase();

        cards.forEach(card => {
          const titulo = card.querySelector("h3").textContent.toLowerCase();

          if (titulo.includes(texto)) {
            card.style.display = "block";
          } else {
            card.style.display = "none";
          }
        });
      });
    </script>

  </body>
</html>